.vscode/
.vs/
bin/
obj/

# File extensions
*.aps
*.binlog
*.dll
*.DS_Store
*.exe
*.idb
*.lib
*.log
*.pch
*.pdb
*.pidb
*.psess
*.res
*.snk
*.so
*.suo
*.tlog
*.user
*.userprefs
*.vspx


/src/5 - Infra/Infra.DataBase/Infra.DataBase.jfm
/src/5 - Infra/Infra.DataBase/Infra.DataBase.dbmdl
