<log4net>
  <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
    <file value="Log/log.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="_dd-MM-yyyy'.log'" />
    <maximumFileSize value="10000KB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%thread] [%-5level] [%logger] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="info" />
    <appender-ref ref="LogFile" />
  </root>
</log4net>