@page "/portifolio"
@using Presentation.Blazor.ViewModel;

<PageTitle>@Messages.Portifolio</PageTitle>

<h1>@Messages.Portifolio</h1>


@code
{

    public List<Products> Produtos = new List<Products>();
    protected override Task OnInitializedAsync()
    {
        return null;
    }

}





